---
import { getCollection, render } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Tag from '../../components/elements/Tag.astro'
import Date from '../../components/elements/Date.astro'
import Markdown from '../../components/markdown/Markdown.astro'
import '../../styles/content.css'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }))
}
const { post } = Astro.props
const content = post.body ?? ''
---

<Layout pageTitle={post.data.title}>
  {post.data.canonicalUrl && <link slot="head" rel="canonical" href={post.data.canonicalUrl} />}

  <article>
    <h1 transition:name={post.id}>{post.data.title}</h1>
    <Date post={post} />
    <div>
      {
        post.data.tags?.map((tag) => {
          return <Tag tag={tag} />
        })
      }
    </div>
    {
      post.data.canonicalUrl && (
        <aside>
          別サイトへ投稿していた記事を移動しました、
          <a href={post.data.canonicalUrl} target="_blank" rel="noopener noreferrer">
            元記事はこちら
          </a>
        </aside>
      )
    }
    <section>
      <Markdown content={content} />
    </section>
  </article>
</Layout>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  aside {
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--on-surface-variant);
    background-color: var(--surface-variant);
  }
</style>
