---
import { getCollection, render } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Tag from '../../components/Tag.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }))
}
const { post } = Astro.props
const { Content } = await render(post)
---

<Layout pageTitle={post.data.title}>
  {post.data.canonicalUrl && <link slot="head" rel="canonical" href={post.data.canonicalUrl} />}

  <article>
    <h1 transition:name={post.id}>{post.data.title}</h1>
    <div>
      <p data-pagefind-meta="date">{post.data.createdAt?.toLocaleDateString()}</p>
      <div>
        {
          post.data.tags?.map((tag) => {
            return <Tag tag={tag} />
          })
        }
      </div>
    </div>
    {
      post.data.canonicalUrl && (
        <p>
          別サイトへ投稿していた記事を移動しました、
          <a href={post.data.canonicalUrl} target="_blank" rel="noopener noreferrer">
            元記事はこちら
          </a>
        </p>
      )
    }
    <section>
      <Content />
    </section>
  </article>
</Layout>

<style is:global>
  section {
    img: {
      width: 100%;
    }
  }
</style>
