---
import type { RootContent } from 'mdast'
import Heading from './Heading.astro'
import Code from './Code.astro'
import List from './list/List.astro'
import ListItem from './list/ListItem.astro'
import Directive from './Directive.astro'
import HTML from './HTML.astro'

interface Props {
  nodes: RootContent[]
}
const { nodes } = Astro.props
---

{
  nodes.map((node) => {
    switch (node.type) {
      case 'text':
        const lines = node.value.split('\n')
        return lines.map((line, index) => (
          <Fragment>
            {line} {index < lines.length - 1 && <br />}
          </Fragment>
        ))
      case 'paragraph':
        return (
          <p>
            <Astro.self nodes={node.children} />
          </p>
        )
      case 'link':
        return (
          <a href={node.url}>
            <Astro.self nodes={node.children} />
          </a>
        )
      case 'heading':
        return <Heading node={node} />
      case 'list':
        return <List node={node} />
      case 'listItem':
        return <ListItem node={node} />
      case 'code':
        return <Code node={node} />
      case 'inlineCode':
        return <code>{node.value}</code>
      case 'image':
        return <img src={node.url} alt={node.alt} />
      case 'blockquote':
        return (
          <blockquote>
            <Astro.self nodes={node.children} />
          </blockquote>
        )
      case 'strong':
        return (
          <strong>
            <Astro.self nodes={node.children} />
          </strong>
        )
      case 'delete':
        return (
          <del>
            <Astro.self nodes={node.children} />
          </del>
        )
      case 'directive':
        return <Directive node={node} />
      case 'html':
        return <HTML node={node} />
      default:
        return JSON.stringify(node)
    }
  })
}

<style>
  code {
    user-select: all;

    margin: 0 0.2rem;
    padding: 0.4rem;
    border-radius: 0.3rem;

    color: var(--on-secondary-container);

    background-color: var(--secondary-container);
  }

  blockquote {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid #ccc;
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  del {
    text-decoration: line-through;
  }
</style>
