---
import type { Page } from 'astro'
import { Icon } from 'astro-icon/components'

interface Props {
  page: Page
}

const { page } = Astro.props
---

<div>
  {
    page.url.first ? (
      <a href={page.url.first} aria-label="最初のページ">
        <Icon name="mdi:chevron-double-left" />
      </a>
    ) : (
      <span>
        <Icon name="mdi:chevron-double-left" />
      </span>
    )
  }
  {
    page.url.prev ? (
      <a href={page.url.prev} aria-label="前のページ">
        <Icon name="mdi:chevron-left" />
      </a>
    ) : (
      <span>
        <Icon name="mdi:chevron-left" />
      </span>
    )
  }
  <span>{page.currentPage}</span>
  {
    page.url.next ? (
      <a href={page.url.next} aria-label="次のページ">
        <Icon name="mdi:chevron-right" />
      </a>
    ) : (
      <span>
        <Icon name="mdi:chevron-right" />
      </span>
    )
  }
  {
    page.url.last ? (
      <a href={page.url.last} aria-label="最後のページ">
        <Icon name="mdi:chevron-double-right" />
      </a>
    ) : (
      <span>
        <Icon name="mdi:chevron-double-right" />
      </span>
    )
  }
</div>

<style>
  div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1rem;
  }

  a,
  span {
    display: grid;
  }

  a {
    color: var(--primary);
  }
</style>
