---
import type { CollectionEntry } from 'astro:content'
import Date from './elements/Date.astro'
import Tag from './elements/Tag.astro'

interface Props {
  posts: CollectionEntry<'blog'>[]
}
const { posts } = Astro.props

const sortedPosts = posts.sort((a, b) => {
  return (a.data.createdAt ?? 0) > (b.data.createdAt ?? 0) ? -1 : 1
})
---

<ul transition:animate="fade" data-pagefind-ignore>
  {
    sortedPosts.map((post) => (
      <li>
        <Date post={post} />
        <a href={`/posts/${post.id}`} transition:name={post.id}>
          {post.data.title}
        </a>
        <div>
          {post.data.tags?.map((tag) => (
            <Tag tag={tag} />
          ))}
        </div>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: grid;
    gap: 1rem;
  }

  li {
    display: grid;
    gap: 1rem;

    padding: 1rem;
    border-radius: 0.5rem;

    background-color: var(--surface-container-low);
  }

  li > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
